PORT = 3000
NODE_ENV = production

CLERK_PUBLISHABLE_KEY = pk_live_replace_me
CLERK_SECRET_KEY = sk_live_replace_me

MONGO_URI = mongodb+srv://db_user:db_password@your-cluster.mongodb.net/duncanville_comics?retryWrites=true&w=majority&appName=DuncanvilleComicsApp

ARCJET_KEY = replace_me
ARCJET_ENV = production

ADMIN_EMAILS = dakotaking92@gmail.com

RESEND_API_KEY = re_8dX6emha_7fgFgQqRvoem44wJ2jusEgxe
RESEND_FROM_EMAIL = Duncanville Comics <marvelkid@gmail.com>
STORE_EMAIL = dakotaking92@gmail.com
